{% extends 'base.html.twig' %}

{% block title %}New Salaries{% endblock %}

{% block body %}
    <h1>Create new Salaries</h1>

    {{ include('salaries/_form.html.twig') }}

    <a href="{{ path('app_salaries_index') }}">back to list</a>
{% endblock %}
